<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DistressReport</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="838989">  <td>18/09/10 19:37:11</td>   <td>0</td> <td title="&gt;&gt;basic.open_browser(java.lang.String)[pri:0, instance:com.kmms.optimize.basic@5025a98f]">&gt;&gt;open_browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@724125922</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>18/09/10 19:37:23</td>   <td>11651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.Optimise_Login()[pri:0, instance:com.kmms.optimize.Login@64bf3bbf]">Optimise_Login</td> 
  <td>main@724125922</td>   <td></td> </tr>
</table>
